# Core testing
pytest==8.4.2
pytest-html==4.1.1
pytest-xdist==3.8.0
requests==2.32.5
python-dotenv==1.2.1
pytest-metadata==3.1.1

# Assertions & Test Data
assertpy==1.1
faker==37.12.0

# Reporting
allure-pytest==2.15.0

# Web Testing (Optional - for future use)
playwright==1.55.0

# Mobile Testing (Optional - for future use)
Appium-Python-Client==4.2.0
selenium==4.27.1